
body a{
text-decoration: none;
}

.card-container {
  background: #EBEDEE;
  padding: 50px;
  margin: 0 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-description{
  min-width: 270px;
  height: 180px;
}

.card-image-icon {
  font-size: 6.5rem;
  color: #fff;
  margin-top: 15px;
}

.card-image-wrapper {
  width: 160px;
  height: 160px;
  text-align: center;
  background: #324856;
  padding: 20px;
  border-radius: 50%;
}

.carousel-card-container {	
  height: 297.63px;	
  width: 260px;	
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.carousel-card-img{
  max-height: 199.41px;
  width: 260px;
}

.carousel-card-img img{
  width: 100%;
}

.carousel-card-info {
  height: 66px;
  width: 224px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.carousel-container {
    height: 581.4px;
    width: 1400px;
    background: linear-gradient(to right, grey, #272D2D);
  }

.carousel-info {
  height: 100%;
  width: 300px;
  padding: 10px 10px 10px 20px;
  justify-content: center;
  align-items: center;
}

.carousel-cards{
background: none;
align-items: center;
}

.carousel-slider {
  width: 1000px
}

/*typography*/
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.sub-header {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 31px;
  text-align: center;
}

.section-header {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0.66px;
  line-height: 55px;
  text-align: center;
}

.paragraph {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 22px;
  letter-spacing: 0.19px;
  line-height: 30px;
}

.section-text {
    color: #324856;
    font-family: "SF Pro Display";
    font-size: 16px;
    letter-spacing: 0.13px;
    line-height: 19px;
    text-align: center;
}

.text-white
{
  color: white;
}

/*utilities*/
.text-uppercase {
  text-transform: uppercase;
}

.margin-top-large {
  margin-top: 50px;
}

.margin-top-medium {
  margin-top: 20px;
}

.width-1-1 {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-start{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-col-space-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  justify-content: center;
}

/*buttons*/
.btn {
  height: 60px;
  width: 240px;
  border-radius: 5px;
  color: #FFFFFF;
  display: inherit;
  font-family: "SF Pro Display";
  font-size: 16px;
  letter-spacing: 0.38px;
  line-height: 19px;
  text-align: center;
}

.btn.btn-link {
  line-height: 3.8;
  text-decoration: none;
}

.btn.btn-link a{
  justify-content: center;
}

.btn.btn-primary {
  color: #fff;
  background-color: #D66C44;
}

.btn.btn-secondary {
  color: #fff;
  background-color: #324856;
}