body a{
  text-decoration: none;
  }

.cards-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5px 50px;
  justify-content: space-around;
}

.card-container {
  background: #EBEDEE;
  padding: 50px;
  margin: 0 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-description {
  min-width: 270px;
}

.card-image-icon {
  font-size: 6.5rem;
  color: #fff;
  /*margin-top: 15px;*/
  margin-top: 10px;
}

.card-image-wrapper {
  width: 160px;
  height: 160px;
  text-align: center;
  background: #324856;
  padding: 20px;
  border-radius: 50%;
}

/*typography*/
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.sub-header {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 31px;
  text-align: center;
}

.section-header {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0.66px;
  line-height: 55px;
  text-align: center;
}

.paragraph {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 22px;
  letter-spacing: 0.19px;
  line-height: 30px;
}

.section-text {
  color: #324856;
  font-family: "SF Pro Display";
  font-size: 16px;
  letter-spacing: 0.13px;
  line-height: 19px;
  text-align: center;
}

.text-white
{
color: white;
}

/*utilities*/
.display-inline-block {
  display: inline-block;
}

.padding-remove {
  padding: 0 !important;
}

.padding-horizontal {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.facebook-custom-icon {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.margin-top-large {
  margin-top: 50px;
}

.margin-bottom-large {
  margin-bottom: 50px;
}

.margin-left-medium {
  margin-left: 20px;
}

.margin-right-medium {
  margin-right: 20px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-top-medium {
  margin-top: 20px;
}

.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-start{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-col-space-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  justify-content: center;
}

/*buttons*/
.btn {
  height: 60px;
  width: 240px;
  border-radius: 5px;
  color: #FFFFFF;
  display: inherit;
  font-family: "SF Pro Display";
  font-size: 16px;
  letter-spacing: 0.38px;
  line-height: 19px;
  text-align: center;
}

.btn.btn-link {
  line-height: 3.8;
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
  background-color: #D66C44;
}

.btn.btn-secondary {
  color: #fff;
  background-color: #324856;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}